<div *ngIf="msgConfirm" class="col-md-4 offset-md-4">
    <div class="alert alert-danger">
        <h3>
            <strong>ATTENTION</strong>
        </h3><br />
        <h6>
            Le client sera définitivement désinscrit de cette évenement, êtes-vous sur ?
            <br /><br />
            <button class="btn btn-danger my-2 my-sm-0" (click)="onConfirm(1)">Oui</button>
            &nbsp;
            <button class="btn btn-primary my-2 my-sm-0" (click)="onConfirm(0)">Non</button>
        </h6>
    </div>
</div>
<div *ngIf="error" class="col-md-4 offset-md-4">
    <div class="alert alert-danger">
        <h3>
            <strong>ERREUR</strong>
        </h3>
        <br />
        <h6>
            {{error}}
        </h6>
    </div>
</div>
<div *ngIf="msgUpdate" class="col-md-4 offset-md-4">
    <div class="alert alert-primary">
        <h3>
            <strong>MISE A JOUR ...</strong>
        </h3>
        <br />
        <h6>
            <spinner></spinner>
        </h6>
    </div>
</div>
<div class="col-md-6 col offset-md-3">
    <div class="container" *ngIf="!loading">
        <h2>
            <strong><img src="./assets/img/event-logo.png" style="max-width:30px; max-height:70px;"> EVENEMENTS(S) PARTICIPE(S)</strong>
        </h2>
        <br /><br />
        <div class="my-div-center-content" *ngIf="!error">
            <form>
                <br />
                <h5><label>Evenement(s) actuel(s)</label></h5>
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Date</th>
                            <th scope="col">Nom</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let event of my_events">
                            <td>{{event?.id}}</td>
                            <td>{{event?.beginning}}</td>
                            <td>{{event?.name}}</td>
                            <td><button class="btn btn-danger" (click)="deleteEventFromBooking()">x</button></td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <div class="form-group">
                    <h5><label>Ajouter Evenement</label></h5>
                    <select class="form-control" [(ngModel)]="name" name="name" required>
                        <option *ngFor="let event of allEventsAvailable">
                            {{event?.name}}
                        </option>
                    </select>
                </div>
                <br /><br />
                <button *ngIf="name" class="btn btn-lg btn-primary btn-block" (click)="addEvent()"
                    type="submit">Ajouter l'évenement '{{name}}' à la
                    réservation</button>
            </form>
            <br />
        </div>
    </div>
    <br />
</div>