<div class="row">
    <div class="col-md-5">
        <div class="container">
            <h2>
                <strong>CLIENT</strong>
            </h2>
            <br /><br />
            <div class="my-div-left-content">
                <h6>
                    Nom : <strong>{{user?.lastname}}</strong>
                    <br /><br />
                    Prénom : <strong>{{user?.firstname}}</strong>
                    <br /><br />
                    Mail : <strong>{{user?.email}}</strong>
                    <br /><br /><br />
                    ID de la Réservation : <strong>{{booking?.id}}</strong>
                    <br /><br />
                    Facture payé : <strong>{{booking?.is_paid  | boolTransform}}</strong>
                    <br /><br /><br />
                </h6>
            </div>
            <button class="btn btn-danger my-2 my-sm-0" (click)="convertPDF()">Convertir la facture en PDF</button>
        </div>
    </div>
    <!---------------------------------------------------------------------------------------------------------------------------------->
    <div class="col-md-7">
        <div class="container">
            <h2>
                <strong>CHAMBRE(S)</strong>
            </h2>
            <br /><br />
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Numéro</th>
                        <th scope="col">Etage</th>
                        <th scope="col">Personne(s)</th>
                        <th scope="col">Equipement(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let room of rooms | paginate: { id: '1', itemsPerPage: 4, currentPage: page1 }">
                        <td>n°{{room?.number}}</td>
                        <td>{{room?.number | slice:0:1}}</td>
                        <td>{{room?.seats}}</td>
                        <td>{{room?.description}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls style="text-align: center;" (pageChange)="page1 = $event" id="1" responsive="true"></pagination-controls>
        </div>
    </div>
</div>
<br />
<!--==================================================================================================================================-->
<!--========================================================== ROW ===================================================================-->
<!--==================================================================================================================================-->
<div class="row">
    <div class="col-md-3">
        <div class="container">
            <h2>
                <strong>DATES</strong>
            </h2>
            <br /><br />
            <div class="my-div-left-content">
                <h6>
                    Début du séjour : <strong>{{booking?.start_date}}</strong>
                    <br /><br />
                    Fin du séjour : <strong>{{booking?.end_date}}</strong>
                    <br /><br />
                </h6>
            </div>
        </div>
    </div>
    <!---------------------------------------------------------------------------------------------------------------------------------->
    <div class="col-md-4">
        <div class="container">
            <h2>
                <strong>EVENEMENT(S)</strong>
                &nbsp;
                <button class="btn btn-info" (click)="onEventBookingDetail()">Details</button>
            </h2>
            <br /><br />
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of events | paginate: { id: '2', itemsPerPage: 2, currentPage: page2 }">
                        <td>{{event?.name}}</td>
                        <td>{{event?.beginning}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls style="text-align: center;" (pageChange)="page2 = $event" id="2" responsive="true"></pagination-controls>
        </div>
    </div>
    <!---------------------------------------------------------------------------------------------------------------------------------->
    <div class="col-md-5">
        <div class="container">
            <h2>
                <strong>SERVICE(S)</strong>
                &nbsp;
                <button class="btn btn-info" (click)="onServiceBookingDetail()">Détails</button>
            </h2>
            <br /><br />
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prix</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of services| paginate: { id: '3', itemsPerPage: 2, currentPage: page3 }">
                        <td>{{service?.id}}</td>
                        <td>{{service?.name}}</td>
                        <td>{{service?.price}} €</td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls style="text-align: center;" (pageChange)="page3 = $event" id="3" responsive="true"></pagination-controls>
        </div>
    </div>
</div>