<div *ngIf="msgConfirm" class="col-md-4 offset-md-4">
    <div class="alert alert-danger">
        <h3>
            <strong>ATTENTION</strong>
        </h3><br />
        <h6>
            L'évenement sera définitivement supprimé, êtes-vous sur ?
            <br /><br />
            <button class="btn btn-danger my-2 my-sm-0" (click)="onConfirm(1)">Oui</button>
            &nbsp;
            <button class="btn btn-primary my-2 my-sm-0" (click)="onConfirm(0)">Non</button>
        </h6>
    </div>
</div>
<div *ngIf="error" class="col-md-4 offset-md-4">
    <div class="alert alert-danger">
        <h3>
            <strong>ERREUR</strong>
        </h3>
        <br />
        <h6>
            {{error}}
        </h6>
    </div>
</div>
<div *ngIf="msgUpdate" class="col-md-4 offset-md-4">
    <div class="alert alert-primary">
        <h3>
            <strong>VALIDATION ...</strong>
        </h3>
        <br />
        <h6>
            <spinner></spinner>
        </h6>
    </div>
</div>
<!--==================================================================================================================================-->
<!--========================================================== ROW ===================================================================-->
<!--==================================================================================================================================-->
<div class="row">
    <div class="col-md-5">
        <div class="container">
            <h2>
                <strong><img src="./assets/img/event-logo.png" style="max-width:30px; max-height:70px;"> INFORMATIONS</strong>
            </h2>
            <br /><br />
            <div class="my-div-left-content">
                <h6>
                    ID : <strong>{{event.id}}</strong>
                    <br /><br />
                    Nom : <strong>{{event.name}}</strong>
                    <br /><br />
                    Date : <strong>{{event.beginning | myDateFormat}}</strong>
                    <br /><br />
                    <br /><br /><br />
                </h6>
            </div>
            <button class="btn btn-primary my-2 my-sm-0" (click)="onUpdate()">Modifier l'évenement</button>
            &nbsp;
            <button class="btn btn-danger my-2 my-sm-0" (click)="onDelete()">Supprimer l'évenement</button>
        </div>
    </div>
    <!---------------------------------------------------------------------------------------------------------------------------------->
    <div class="col-md-7">
        <div class="container">
            <h2>
                <strong><img src="./assets/img/event-logo.png" style="max-width:30px; max-height:70px;"> DESCRIPTION</strong>
            </h2>
            <br /><br />
            <h6>
                {{event.description}}
            </h6>
        </div>
    </div>
</div>
<br />