.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
  }
  .container {
    /*width: 35%;*/
    border: 1.5px solid #7f8c8d;
    /**box-shadow: 2px 2px 2px #8395a7;**/
    padding: 2%;
    background-color: white;
    text-align:center;
  }
  /** titre */
  h2 {
    color: #21368B; /** #01a3a4 */
    text-align: center;
  }
  /** labels */
  /* h5 {
    text-align: left;
  } */
  