.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
  }
  .container {
    /*width: 315%;*/
    border: 1.15px solid #7f8c8d;
    /**box-shadow: 2px 2px 2px #83915a7;**/
    padding: 2%;
    background-color: white;
    text-align:center;
  }
  /** titre */
  h2 {
    color: #21368B; /** #01a3a4 */
    text-align: center;
  }
/** labels */
h5 {
  text-align: center;
}
.my-resto {
  display: grid;
  justify-content: center;
  grid-template-columns: 15% 15% 15% 15% 15%;
  grid-template-rows: 15% 15% 15% 15% 15%;
}
.table-resto {
  color: black;
  padding: 1.0em 0;
  font-size: 1.5em;
  background: #f7f1e3;
  border: 1.20px solid #84817a;
}
.table-resto:hover {
  color: black;
  padding: 1.0em 0;
  font-size: 1.5em;
  background: #ccae62;
  border: 1.20px solid #66635b;
  cursor: pointer;
}