<div class="row">
    <div class="col-md-7">
        <div class="container">
            <h2>
                <strong>RESTAURANTS</strong>
            </h2>
            <br /><br />
            <!-- ngIf="item == libre" class="couleur-vert" |||||||| ngIf="item == occupé" class="couleur-rouge"-->
            <!------------------------------------------------------------------ TOUTES LES TABLES (wrapper)---------------------------------------------------------------->
            <br />
            <div class="my-resto">
                <div *ngFor="let x of restaurant">
                    <div *ngFor="let y of x" class="table-resto">
                        n°{{y.id}}
                    </div>
                </div>
            </div>
            <!-- <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">X</th>
                        <th scope="col">Y</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let table of tables
                  | paginate: { id: '1', itemsPerPage: 4, currentPage: page }">
                        <td innerHTML="{{table.id}}"></td>
                        <td innerHTML="{{table.x_pos}}"></td>
                        <td innerHTML="{{table.y_pos}}"></td>
                        <td><button class="btn btn-info my-2 my-sm-0">Détail</button></td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls style="text-align: center;" (pageChange)="page = $event" id="1" responsive="true"></pagination-controls> -->
            <br />
        </div>
    </div>
    <!------------------------------------------------------------------ INFOS TABLE + BOOKING ---------------------------------------------------------------->
    <div class="col-md-5">
        <div class="container">
            <h2>
                <strong>INFOS DE LA TABLE</strong>
            </h2>
            <br /><br />
            <div *ngIf="user!=undefined" class="my-div-left-content">
                <h4>
                    Nom : <strong>{{user.firstname}}</strong>
                    <br /><br />
                    Prénom : <strong>{{user.lastname}}</strong>
                    <br /><br />
                    Email : <strong>{{user.email}}</strong>
                    <br /><br />
                    Réservation(s) :
                    <br /><br />
                    <ul *ngFor="let booking of user.bookings">
                        <li>
                            <strong><button class="btn btn-primary my-2 my-sm-0"
                                    (click)="onBookingDetail()">{{booking.id}}</button></strong>
                        </li>
                    </ul>
                    <br />
                </h4>
                <button class="btn btn-primary my-2 my-sm-0" (click)="onUpdate()">Modifier le compte</button>
                &nbsp;
                <button class="btn btn-danger my-2 my-sm-0" (click)="onDelete()">Supprimer le compte</button>
            </div>
        </div>
        <br />
        <button class="btn btn-info my-2 my-sm-0" (click)="onCreate()">+ Reservé une table</button>
    </div>
</div>
<div *ngIf="msgConfirm" class="row">
    <div class="col-md-4 offset-md-4">
        <div class="alert alert-danger">
            <h3>
                <strong>ATTENTION</strong>
            </h3><br />
            <h6>
                Le compte client sera définitivement supprimé, êtes-vous sur ?
                <br /><br />
                <button class="btn btn-danger my-2 my-sm-0" (click)="onConfirm(1)">Oui</button>
                &nbsp;
                <button class="btn btn-primary my-2 my-sm-0" (click)="onConfirm(0)">Non</button>
            </h6>
        </div>
    </div>
</div>