<div *ngIf="msgConfirm" class="row">
    <div class="col-md-4 offset-md-4">
        <div class="alert alert-primary">
            <h3>
                <strong>CONFIRMATION</strong>
            </h3><br />
            <h6>
                La table re-passera à un état "libre" et sera de nouveau disponnible, êtes-vous sur ?
                <br /><br />
                <button class="btn btn-danger my-2 my-sm-0" (click)="onConfirm(1)">Oui</button>
                &nbsp;
                <button class="btn btn-primary my-2 my-sm-0" (click)="onConfirm(0)">Non</button>
            </h6>
        </div>
    </div>
</div>
<div *ngIf="msgDeleting" class="col-md-4 offset-md-4">
    <div class="alert alert-primary">
        <h3>
            <strong>VALIDATION ...</strong>
        </h3>
        <br />
        <h6>
            <spinner></spinner>
        </h6>
    </div>
</div>
<div *ngIf="error" class="col-md-4 offset-md-4">
    <div class="alert alert-danger">
        <h3>
            <strong>ERREUR</strong>
        </h3>
        <br />
        <h6>
            {{error}}
        </h6>
    </div>
</div>
<!------------------------------------------------------------------------------------------------------------>
<div class="row">
    <div class="col-md-7">
        <div class="container">
            <h2>
                <strong>RESTAURANT DE L'HOTEL</strong>
            </h2>
            <br /><br />
            <!-- ngIf="item == libre" class="couleur-vert" |||||||| ngIf="item == occupé" class="couleur-rouge"-->
            <!------------------------------------------------------------------ TOUTES LES TABLES (wrapper)---------------------------------------------------------------->
            <br />
            <div class="my-resto">
                <div *ngFor="let x of restaurant">
                    <div *ngFor="let y of x" class="table-resto" [ngStyle]="{background : y.status}" (click)="onTableBookingDetail(y.id)">
                        <img src="./assets/img/table.png" style="max-width:40px; max-height:80px;">
                        &nbsp;
                        <span>n°<strong>{{y.id}}</strong></span>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
    <!------------------------------------------------------------------ INFOS TABLE + BOOKING ---------------------------------------------------------------->
    <div class="col-md-5">
        <div class="container">
            <h2>
                <strong>INFOS DE LA TABLE <span *ngIf="id>0">n°{{id}}</span></strong>
            </h2>
            <br /><br />
            <h4>
                <div *ngIf="table_info==undefined && id>0" class="my-div-left-content">
                    <strong style="color:#28a745;">Cette table est libre</strong>
                    <br /><br />
                    <button class="btn btn-info my-2 my-sm-0" (click)="onCreate()">Reserver la table</button>
                </div>
                <div *ngIf="table_info!=undefined" class="my-div-left-content">
                    <strong *ngIf="!is_eating_now" style="color:#fd7e14;">Cette table est réservée pour bientôt</strong>
                    <strong *ngIf="is_eating_now" style="color:#dc3545;">Cette table est occupée</strong>
                    <br /><br />
                    Arrivée du client : <strong>{{table_info.arrival}}</strong>
                    <br /><br />
                    Prix total à payer : <strong>{{table_info.total_price}} €</strong>
                    <br /><br />
                    A payé : <strong>{{table_info.done}}</strong>
                    <br /><br />
                    <button class="btn btn-danger my-2 my-sm-0" (click)="onDelete()">Valider le paiement</button>
                </div>
            </h4>
        </div>
    </div>
</div>