<div *ngIf="msgUpdate" class="col-md-4 offset-md-4">
    <div class="alert alert-primary">
        <h3>
            <strong>MISE A JOUR ...</strong>
        </h3>
        <br />
        <h6>
            <spinner></spinner>
        </h6>
    </div>
</div>
<div *ngIf="error" class="col-md-4 offset-md-4">
    <div class="alert alert-danger">
        <h3>
            <strong>ERREUR</strong>
        </h3>
        <br />
        <h6>
            {{error}}
        </h6>
    </div>
</div>
<div class="col-md-6 col offset-md-3">
    <div class="container">
        <h2>
            <strong><img src="./assets/img/favicon.png" style="max-width:30px; max-height:70px;"> MODIFIER LA DESCRIPTON </strong>
        </h2>
        <br /><br />
        <div class="my-div-center-content" *ngIf="!error">
            <form>
                <div class="form-group col-md-10 col offset-md-1">
                    <h4><label>Description</label></h4>
                    <textarea class="form-control" rows="4" [(ngModel)]="dashboard.presentation"
                        name="description_general"></textarea>
                </div>
                <br />
                <div class="form-group col-md-10 col offset-md-1">
                    <h4><label>Les chambres</label></h4>
                    <textarea class="form-control" rows="4" [(ngModel)]="dashboard.rooms"
                        name="dashboard.rooms"></textarea>
                </div>
                <br />
                <div class="form-group col-md-10 col offset-md-1">
                    <h4><label>Les services</label></h4>
                    <textarea class="form-control" rows="4" [(ngModel)]="dashboard.services"
                        name="dashboard.services"></textarea>
                </div>
                <br />
                <div class="form-group col-md-10 col offset-md-1">
                    <h4><label>Les évènements</label></h4>
                    <textarea class="form-control" rows="4" [(ngModel)]="dashboard.events"
                        name="dashboard.events"></textarea>
                </div>
                <br />
                <div class="form-group col-md-10 col offset-md-1">
                    <h4><label>Le restaurant</label></h4>
                    <textarea class="form-control" rows="4" [(ngModel)]="dashboard.restaurant"
                        name="dashboard.dashboard"></textarea>
                </div>
                <br /><br />
                <button class="btn btn-lg btn-primary btn-block" (click)="onUpdate()" type="submit">Modifier
                    la description</button>
            </form>
            <br />
        </div>
    </div>
    <br />
</div>