<div class="container">
    <h2>
        <strong>SERVICES</strong>
    </h2>
    <br /><br />
    <div class="row">
        <div class="col-md-7">
            <!------------------------------------------------------------------ TOUS LES SERVICES ---------------------------------------------------------------->
            <form>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <h5><label>ID</label></h5>
                        <input type="text" class="form-control" [(ngModel)]="id" placeholder="Filtre.." name="id">
                    </div>
                    <div class="form-group col-md-6">
                        <h5><label>Nom</label></h5>
                        <input type="text" class="form-control" [(ngModel)]="name" placeholder="Filtre.." name="name">
                    </div>
                </div>
            </form>
            <br />
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nom</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let serviceBooking of services
                      | filter: 'id' : id
                      | filter: 'name' : name">
                        <td innerHTML="{{serviceBooking.id | highlight : id}}"></td>
                        <td innerHTML="{{serviceBooking.name | highlight : name}}"></td>
                        <td><button class="btn btn-danger my-2 my-sm-0" (click)="onDelete(serviceBooking.id)">X</button>
                        </td>
                        <td><button class="btn btn-primary my-2 my-sm-0" (click)="onDelete(serviceBooking.id)">Modifier</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <!------------------------------------------------------------------ Nouveau SERVICE ---------------------------------------------------------------->
            <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <h5><label>ID</label></h5>
                        <input type="text" class="form-control" [(ngModel)]="id" placeholder="Filtre.." name="id">
                    </div>
                    <div class="form-group col-md-9">
                        <h5><label>Nom</label></h5>
                        <input type="text" class="form-control" [(ngModel)]="name" placeholder="Filtre.." name="name">
                    </div>
                </div>
                <button class="btn btn-info my-2 my-sm-0" (click)="onDelete(serviceBooking.id)">Créer nouveau
                    service</button>
            </form>
        </div>
    </div>

</div>
<div *ngIf="msgConfirm" class="row">
    <div class="col-md-4 offset-md-4">
        <div class="alert alert-danger">
            <h3>
                <strong>ATTENTION</strong>
            </h3><br />
            <h6>
                Le compte client sera définitivement supprimé, êtes-vous sur ?
                <br /><br />
                <button class="btn btn-danger my-2 my-sm-0" (click)="onConfirm(1)">Oui</button>
                &nbsp;
                <button class="btn btn-primary my-2 my-sm-0" (click)="onConfirm(0)">Non</button>
            </h6>
        </div>
    </div>
</div>