<div *ngIf="msgConfirm" class="col-md-4 offset-md-4">
    <div class="alert alert-danger">
        <h3>
            <strong>ATTENTION</strong>
        </h3><br />
        <h6>
            Le plat sera définitivement retiré du menu, êtes-vous sur ?
            <br /><br />
            <button class="btn btn-danger my-2 my-sm-0" (click)="onConfirm(1)">Oui</button>
            &nbsp;
            <button class="btn btn-primary my-2 my-sm-0" (click)="onConfirm(0)">Non</button>
        </h6>
    </div>
</div>
<div *ngIf="error" class="col-md-4 offset-md-4">
    <div class="alert alert-danger">
        <h3>
            <strong>ERREUR</strong>
        </h3>
        <br />
        <h6>
            {{error}}
        </h6>
    </div>
</div>
<div *ngIf="msgUpdate" class="col-md-4 offset-md-4">
    <div class="alert alert-primary">
        <h3>
            <strong>MISE A JOUR ...</strong>
        </h3>
        <br />
        <h6>
            <spinner></spinner>
        </h6>
    </div>
</div>
<div class="col-md-6 col offset-md-3">
    <div class="container" *ngIf="!loading">
        <h2>
            <strong>MODIFIER LE MENU</strong>
            <br />
            {{menu?.name}}
        </h2>
        <br /><br />
        <div class="my-div-center-content" *ngIf="!error">
            <form>
                <div class="form-group col-md-10 col offset-md-1">
                    <h5><label>Nom</label></h5>
                    <input type="text" class="form-control" [(ngModel)]="menu.name" name="menu.name"
                        value="{{menu?.name}}">
                </div>
                <br />
                <div class="form-group col-md-10 col offset-md-1">
                    <h5><label>Composition</label></h5>
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Plat</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dish of menu_detail">
                                <td>{{dish.name}}</td>
                                <td><button class="btn btn-danger"
                                        (click)="deleteDishFromMenu(dish.id)">Retirer</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />

                <div class="form-group col-md-10 col offset-md-1">
                    <h5><label>Ajouter un plat</label></h5>
                    <select class="form-control" [(ngModel)]="dish" name="dish" required>
                        <option *ngFor="let d of dishes">{{d.name}}</option>
                    </select>
                    <br />
                    <button class="btn btn-success" (click)="addTempDish(dish)">Ajouter
                        '{{dish}}'</button>
                </div>
                <br /><br />
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Plat(s) à ajouter</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dish of dishes_to_add">
                            <td>{{dish}}</td>
                            <td><button class="btn btn-danger" (click)="deleteTempDish(dish)">x</button></td>
                        </tr>
                    </tbody>
                </table>
                <br /><br />
                <button class="btn btn-lg btn-primary btn-block" (click)="onUpdate()" type="submit">Modifier
                    le menu</button>
            </form>
            <br />
        </div>
    </div>
    <br />
</div>