<div *ngIf="error" class="col-md-4 offset-md-4">
    <div class="alert alert-danger">
        <h3>
            <strong>ERREUR</strong>
        </h3>
        <br />
        <h6>
            {{error}}
        </h6>
    </div>
</div>
<div *ngIf="msgUpdate" class="col-md-4 offset-md-4">
    <div class="alert alert-primary">
        <h3>
            <strong>MISE A JOUR ...</strong>
        </h3>
        <br />
        <h6>
            <spinner></spinner>
        </h6>
    </div>
</div>
<div *ngIf="msgConfirm" class="col-md-4 offset-md-4">
    <div class="alert alert-danger">
        <h3>
            <strong>ATTENTION</strong>
        </h3><br />
        <h6>
            Le compte client sera définitivement supprimé, êtes-vous sur ?
            <br /><br />
            <button class="btn btn-danger my-2 my-sm-0" (click)="onConfirm(1)">Oui</button>
            &nbsp;
            <button class="btn btn-primary my-2 my-sm-0" (click)="onConfirm(0)">Non</button>
        </h6>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="container">
            <h2>
                <strong><img src="./assets/img/user-logo.png" style="max-width:30px; max-height:70px;"> CLIENTS</strong>
            </h2>
            <br /><br />
            <!------------------------------------------------------------------ TOUS LES CLIENTS ---------------------------------------------------------------->
            <form>
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <h5><label>ID</label></h5>
                        <input type="text" class="form-control" [(ngModel)]="id" placeholder="Filtre.." name="id">
                    </div>
                    <div class="form-group col-md-3">
                        <h5><label>Nom</label></h5>
                        <input type="text" class="form-control" [(ngModel)]="firstname" placeholder="Filtre.."
                            name="firstname">
                    </div>
                    <div class="form-group col-md-3">
                        <h5><label>Prénom</label></h5>
                        <input type="text" class="form-control" [(ngModel)]="lastname" placeholder="Filtre.."
                            name="lastname">
                    </div>
                    <div class="form-group col-md-5">
                        <h5><label>Email</label></h5>
                        <input type="text" class="form-control" [(ngModel)]="email" placeholder="Filtre.." name="email">
                    </div>
                </div>
            </form>
            <br />
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users
                  | filter: 'id' : id
                  | filter: 'lastname' : lastname
                  | filter: 'firstname' : firstname
                  | filter: 'email' : email
                  | paginate: { id: '1', itemsPerPage: 4, currentPage: page }">
                        <td innerHTML="{{user.id | highlight : id}}"></td>
                        <td innerHTML="{{user.firstname | highlight : firstname}}"></td>
                        <td innerHTML="{{user.lastname | highlight : lastname}}"></td>
                        <td innerHTML="{{user.email | highlight : email}}"></td>
                        <td><button class="btn btn-info my-2 my-sm-0" (click)="onDetail(user.id)">Détail</button></td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls style="text-align: center;" (pageChange)="page = $event" id="1" responsive="true">
            </pagination-controls>
            <br />
        </div>
    </div>
    <!------------------------------------------------------------------ INFOS CLIENT ---------------------------------------------------------------->
    <div class="col-md-5">
        <div class="container">
            <h2>
                <strong><img src="./assets/img/info-logo.png" style="max-width:30px; max-height:70px;"> DETAIL
                    CLIENT</strong>
            </h2>
            <br /><br />
            <div *ngIf="user!=undefined" class="my-div-left-content">
                <h4>
                    Nom : <strong>{{user.firstname}}</strong>
                    <br /><br />
                    Prénom : <strong>{{user.lastname}}</strong>
                    <br /><br />
                    Email : <strong>{{user.email}}</strong>
                    <br /><br />
                    Réservation(s) :
                    <br /><br />
                    <ul *ngFor="let booking of bookings">
                        <li>
                            <strong><button class="btn btn-primary my-2 my-sm-0"
                                    (click)="onBookingDetail(booking.id)">{{booking.id}}</button></strong>
                        </li>
                    </ul>
                    <br />
                </h4>
                <button class="btn btn-primary my-2 my-sm-0" (click)="onUpdate()">Modifier le compte</button>
                &nbsp;
                <button class="btn btn-danger my-2 my-sm-0" (click)="onDelete()">Supprimer le compte</button>
            </div>
        </div>
        <br />
        <button class="btn btn-info my-2 my-sm-0" (click)="onCreate()">+ Ajouter nouvel utilisateur</button>
    </div>
</div>