<div class="col-md-8 col offset-md-2">
  <!-------------------------------------------- ADMIN ----------------------------------------------------------------->
  <span *ngIf="isAdmin"><button class="btn btn-primary my-2 my-sm-0" type="submit" (click)="onEditDashboard()">Modifier description</button></span>
  <!-------------------------------------------- ADMIN ----------------------------------------------------------------->
  <div class="container">
    <img src="./assets/img/dashboard.png">
    <br /><br />
    <h4>
      <strong>Présentation</strong>
    </h4>
    <p>
      Le PA Hotel, situé à quelques pas de la place animée de la Nation et à proximité du bois de Vincennes, 
      un espace vert trois fois plus grand que Central Park, 
      propose 43 chambres élégantes et design dotées d'équipements modernes.
    </p>
    <h4>
      <strong>Les chambres</strong>
    </h4>
    <p>
      Nos chambres chics et modernes sont pour la plupart climatisées et dotées d’une TV,
      ainsi que d’une connexion wifi très haut débit grâce à la fibre optique.
      Les salles de bains sont ultra-modernes et la literie haut de gamme.
    </p>
    <h4>
        <strong>Les évènements</strong>
    </h4>
    <p>
      Nous organiserons de nombreux évènements durant votre séjour, afin de vous faire
      profiter un maximum de plusieurs activités et loisirs de tous genre.
    </p>
    <h4>
      <strong>Le restaurant</strong>
    </h4>
    <p>
      Nos restaurant vous offrent un cadre agréable pour profiter du buffet du petit-déjeuner. 
      Le prix du petit-déjeuner est de XX,XX€ par personne et le service de petit-déjeuner s'effectue 
      du lundi au vendredi de 7h à 10h30 et de 7h à 11h le week-end. 
    </p>
  </div>
</div>