<div *ngIf="error" class="col-md-4 offset-md-4">
    <div class="alert alert-danger">
        <h3>
            <strong>ERREUR</strong>
        </h3>
        <br />
        <h6>
            {{error}}
        </h6>
    </div>
</div>
<div *ngIf="msgUpdate" class="col-md-4 offset-md-4">
    <div class="alert alert-primary">
        <h3>
            <strong>MISE A JOUR ...</strong>
        </h3>
        <br />
        <h6>
            <spinner></spinner>
        </h6>
    </div>
</div>
<div class="col-md-6 col offset-md-3">
    <div class="container" *ngIf="!loading">
        <h2>
            <strong><img src="./assets/img/user-logo.png" style="max-width:30px; max-height:70px;"> MODIFIER LE CLIENT</strong>
            <br />
            {{user?.firstname}} {{user?.lastname}}
        </h2>
        <br /><br />
        <div class="my-div-center-content" *ngIf="!error">
            <form>
                <div class="form-group col-md-10 col offset-md-1">
                    <h5><label>Nom</label></h5>
                    <input type="text" class="form-control" [(ngModel)]="user.firstname" name="user.firstname"
                        value="{{user?.firstname}}">
                </div>
                <br />
                <div class="form-group col-md-10 col offset-md-1">
                    <h5><label>Prénom</label></h5>
                    <input type="text" class="form-control" [(ngModel)]="user.lastname" name="user.lastname"
                        value="{{user?.lastname}}">
                </div>
                <br />
                <div class="form-group col-md-10 col offset-md-1">
                    <h5><label>Email</label></h5>
                    <input type="email" class="form-control" [(ngModel)]="user.email" name="user.email"
                        value="{{user?.email}}">
                </div>
                <br /><br />
                <button class="btn btn-lg btn-primary btn-block" (click)="onUpdate()" type="submit">Modifier
                    le client</button>
            </form>
            <br />
        </div>
    </div>
    <br />
</div>